:root {
    --white: #fff;
    --black: #000000;
    --black-0: #17161c;
    --black-2: #2c2c2c;
    --black-3: #2c2c2c;
    --black-4: #18222f;
    --black-5: #18150e;
    --red: #ae152d;
    --red-2: #d2093c;
    --red-3: #f13a47;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary-bg: #0d6efd;
    --secondary-bg: #6c757d;
    --success-bg: #198754;
    --info-bg: #0dcaf0;
    --warning-bg: #ffc107;
    --danger-bg: #dc3545;
    --light-bg: #f8f9fa;
    --dark-bg: #212529;
    --primary-text: #052c65;
    --secondary-text: #2b2f32;
    --success-text: #0a3622;
    --info-text: #055160;
    --warning-text: #664d03;
    --danger-text: #58151c;
    --yellow-text: #fea24d;
    --form-valid-color: #198754;
    --form-valid-border-color: #198754;
    --form-invalid-color: #dc3545;
    --form-invalid-border-color: #dc3545;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    --box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
    --box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
    --russo-regular-sans: 'Russo One', sans-serif;
}